.main_body{
  height: 450px;
  margin-top: 20px;
  background-color: bisque;
  margin-bottom: 20px;
  align-items: center;
  margin-left: 350px;
  width: 653px;
  padding: 10px;
}
.body1{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  margin-left: 7px;
  border-radius: 3px ;
  color: azure;
  float: left;
  cursor: pointer;
 
}
.body2{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  border-radius: 3px;
  color: wheat;
  float: left;
  cursor: pointer;
  margin-left: 2px;
  
}
.body21{
  height: 225px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body3{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body31{
  height: 150px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body4{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body41{
  height: 112.5px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body5{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body51{
  height: 90px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body6{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body61{
  height: 75px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body7{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body71{
  height: 64.285px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body8{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body81{
  height: 56.25px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body9{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body91{
  height: 50px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body10{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body101{
  height: 45px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body11{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body111{
  height: 40.90px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}
.body12{
  background-color: blue;
  width: 50px;
  text-align: center;
  height: 450px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 3px;
  color: wheat;
  float: left;
}
.body121{
  height: 37.5px;
  border-radius: 3px solid #fff;
  border-bottom: 2px solid wheat;
}