.testimonials-area{
  background-color: #333;
  color: #fff;
  .testimonials{
    .slick-arrow{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
    .slick-arrow i{
      color: #fff;
      font-size: 30px;
      background-color: tomato;
      padding: 10px;
      border-radius: 50%;
      
    }
    .slick-prev{
      left: 50%;
    }
    .slick-next{
      right: 50%;
    }
  }
  .single-testimonials{
    text-align: center;
    img {
      border-radius: 50%;
      margin-bottom: 15px;
      width: 15%;
      height: 15%;
      margin: 0 auto;
    }
    p{
      width: 600px;
      margin: 0 auto;
    }
    h4{
      font-size: 26px;
      text-transform: capitalize;
      margin-top: 30px;
      span{
        display: block;
        font-size: 16px;
        font-weight: 500;
        text-transform: lowercase;
        margin-top: 9px;
      }
    }
  }
}
